<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="'counter'">Counter App <span class="badge bg-secondary">{{totalCounter}}</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light" [routerLink]="'vatavaran'">Weather App</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>